header{
    overflow: auto;
}
img{
    -webkit-user-drag: none;
}
/********** START GRAPH **********/
.wrapper {
    width: 80%;
    height: auto;
    margin: 6em auto;
    text-align: center;
    display: flex;
    justify-content: space-evenly;
}

.container {
    flex: 1;
    padding: 0 20px;
}
/* Smartphones (portrait) ----------- */
@media only screen
and (max-width : 320px) {

}
/********** END GRAPH **********/

/*
/*@media (max-width:992px){
    #bodygraph { width:100% !important; }
}*/

/********** OLD START GRAPH
#bodygraph {
    background: #1F2428;
    text-align: center;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    flex-wrap: wrap;
    box-sizing: border-box;
    height: 100vh;
    padding: 30px;
    overflow: hidden;
    width: 100%;
}

.margin {
    margin: 25px;
}

.multi-graph {
    width: 300px;
    height: 150px;
    position: relative;
    color: #fff;
    font-size: 22px;
    font-weight: 600;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    overflow: hidden;
    box-sizing: border-box;
}
.multi-graph:before {
    content: "";
    width: 300px;
    height: 150px;
    border: 50px solid rgba(0, 0, 0, 0.15);
    border-bottom: none;
    position: absolute;
    box-sizing: border-box;
    transform-origin: 50% 0;
    border-radius: 300px 300px 0 0;
    left: 0;
    top: 0;
}
.multi-graph .graph {
    width: 300px;
    height: 150px;
    border: 50px solid var(--fill);
    border-top: none;
    position: absolute;
    transform-origin: 50% 0 0;
    border-radius: 0 0 300px 300px;
    left: 0;
    top: 100%;
    z-index: 5;
    -webkit-animation: 1s fillGraphAnimation ease-in;
    animation: 1s fillGraphAnimation ease-in;
    transform: rotate(calc( 1deg * ( var(--percentage) * 1.8 ) ));
    box-sizing: border-box;
    cursor: pointer;
}
.multi-graph .graph:after {
    content: attr(data-name) " " counter(varible) "%";
    counter-reset: varible var(--percentage);
    background: var(--fill);
    box-sizing: border-box;
    border-radius: 2px;
    color: #fff;
    font-weight: 200;
    font-size: 12px;
    height: 20px;
    padding: 3px 5px;
    top: 0;
    position: absolute;
    left: 0;
    transform: rotate(calc( -1deg * var(--percentage) * 1.8 )) translate(-30px, 0px);
    transition: 0.2s ease-in;
    transform-origin: 0 50% 0;
    opacity: 0;
}
.multi-graph .graph:hover {
    opacity: 0.8;
}
.multi-graph .graph:hover:after {
    opacity: 1;
    left: 30px;
}

@-webkit-keyframes fillAnimation {
    0% {
        transform: rotate(-45deg);
    }
    50% {
        transform: rotate(135deg);
    }
}

@keyframes fillAnimation {
    0% {
        transform: rotate(-45deg);
    }
    50% {
        transform: rotate(135deg);
    }
}
@-webkit-keyframes fillGraphAnimation {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(180deg);
    }
}
@keyframes fillGraphAnimation {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(180deg);
    }
}
OLD END GRAPH ********/


/********** START BUTTON ANIMATION

.pulse {
    --hover: #407ec5;

}

.pulse:hover,
.pulse:focus {
    -webkit-animation: pulse 1s;
    animation: pulse 1s;
    box-shadow: 0 0 0 1em rgba(255, 255, 255, 0);
    position: relative;

}

@-webkit-keyframes pulse {
    0% {
        box-shadow: 0 0 0 0 var(--hover);
    }
}

@keyframes pulse {
    0% {
        box-shadow: 0 0 0 0 var(--hover);
    }
}
END BUTTON ANIMATION *********/